<!doctype html>
<title>Lanearning</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css')}}">
<div class = page>
	<h1>Lanearning</h1>
<!-- 	<form action="{{ url_for('play')}}" method=post>
	   <d1>
	      <dt> Leason1
	      <div>Bonjour, comarade <button type="button" >Play</button> </div>
	   </d1>
	</form> -->

<!-- 	<script>
	function play()
	{
		<audio controls autoplay>
           <source src="static/Bonjour, comarade" type="audio/mp3">
                Your browser does not support this audio format.
        </audio>
	}
	</script>
	<dt> Leason1
	<div>Bonjour, comarade <button onclick="play">Play</button> </div> -->

	<dt> Leason1
	<div>Bonjour, comarade <audio controls> <source src="{{ url_for('static', filename = 'morning.mp3')}}" type="audio/mpeg">Your browser does not support the audio element.</audio> </div>
	<div>Comment ça va <audio controls> <source src="{{ url_for('static', filename = 'howareyou.mp3')}}" type="audio/mpeg">Your browser does not support the audio element.</audio> </div>
	<div>Ça va bien, merci. <audio controls> <source src="{{ url_for('static', filename = 'Iamfinethankyou.mp3')}}" type="audio/mpeg">Your browser does not support the audio element.</audio> </div>
	<div>Au revoir, monsieur. <audio controls> <source src="{{ url_for('static', filename = 'Byesir.mp3')}}" type="audio/mpeg">Your browser does not support the audio element.</audio> </div>
	<div>Qui est-ce C'est Pascal. <audio controls> <source src="{{ url_for('static', filename = 'whoisthis.mp3')}}" type="audio/mpeg">Your browser does not support the audio element.</audio> </div>
	<div>Où est-il Il est à Calais. <audio controls> <source src="{{ url_for('static', filename = 'whereishe.mp3')}}" type="audio/mpeg">Your browser does not support the audio element.</audio> </div>
	<div>Où est-elle Elle est à Nice. <audio controls> <source src="{{ url_for('static', filename = 'whereisshe.mp3')}}" type="audio/mpeg">Your browser does not support the audio element.</audio> </div>
</div>