<!doctype html>
<title>Lanearning</title>
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css')}}"> -->

<style type="text/css">
body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page			{ margin:  auto; width: auto; height: auto; border: auto solid #ccc;
                  padding: auto; background: white; }

.css3			{overflow: hidden; /*自动隐藏文字*/	text-overflow: ellipsis;/*文字隐藏后添加省略号*/
				white-space: nowrap;/*强制不换行*/width: 20em;/*不允许出现半汉字截断*/
				color:#6699ff;border:1px #ff8000 dashed;}			
</style>


<div class = page>
	<h1>Lanearning</h1>
	<p><h2>Leçon deux</h2></p>
	<p><h2>hommes</h2></p>	
	<div>Est-ce que c'est Philippe?<audio controls> <source src="{{ url_for('static', filename = 'Philippe.mp3')}}" type="audio/mpeg">Your browser does not support the audio element.</audio> </div>
	<div>Charles. <audio controls> <source src="{{ url_for('static', filename = 'Charles.mp3')}}" type="audio/mpeg">Your browser does not support the audio element.</audio> </div>
	<div>Jacques. <audio controls> <source src="{{ url_for('static', filename = 'Jacques.mp3')}}" type="audio/mpeg">Your browser does not support the audio element.</audio> </div>
	
	<div>Que fait-il? <audio controls> <source src="{{ url_for('static', filename = 'whatdoeshedo.mp3')}}" type="audio/mpeg">Your browser does not support the audio element.</audio> </div>
	<div>Il est chercheur. <audio controls> <source src="{{ url_for('static', filename = 'heisaresearcher.mp3')}}" type="audio/mpeg">Your browser does not support the audio element.</audio> </div>
	<div>journaliste. <audio controls> <source src="{{ url_for('static', filename = 'journalist.mp3')}}" type="audio/mpeg">Your browser does not support the audio element.</audio> </div>
	<div>acteur. <audio controls> <source src="{{ url_for('static', filename = 'actor.mp3')}}" type="audio/mpeg">Your browser does not support the audio element.</audio> </div>
	<div>facteur. <audio controls> <source src="{{ url_for('static', filename = 'postman.mp3')}}" type="audio/mpeg">Your browser does not support the audio element.</audio> </div>
	<div>styliste. <audio controls> <source src="{{ url_for('static', filename = 'stylist.mp3')}}" type="audio/mpeg">Your browser does not support the audio element.</audio> </div>

	<p><h2>femmes</h2></p>	
	<div>Est-ce que c'est Fanny?<audio controls> <source src="{{ url_for('static', filename = 'Fanny.mp3')}}" type="audio/mpeg">Your browser does not support the audio element.</audio> </div>
	<div>Jacqueline. <audio controls> <source src="{{ url_for('static', filename = 'Jacqueline.mp3')}}" type="audio/mpeg">Your browser does not support the audio element.</audio> </div>
	<div>Christine. <audio controls> <source src="{{ url_for('static', filename = 'Christine.mp3')}}" type="audio/mpeg">Your browser does not support the audio element.</audio> </div>	
	<div>actrice. <audio controls> <source src="{{ url_for('static', filename = 'actress.mp3')}}" type="audio/mpeg">Your browser does not support the audio element.</audio> </div>
	<div>factrice. <audio controls> <source src="{{ url_for('static', filename = 'postwoman.mp3')}}" type="audio/mpeg">Your browser does not support the audio element.</audio> </div>
	<p><h2>pratiquer</h2> </p>
	<p>1.</p>
<!-- 1 -->
	<div>
		<div style = "width:50%; float:left;">(1)<input type="text" name="q2.10"></div>
		<div style = "width:50%; float:left;"><input name="q2.11"></div>
	</div>
	<div>
		<div style = "width:50%; float:left;">Oui, c'est Pascal.</div>
		<div style = "width:50%; float:left;">Il est journaliste.</div>
	</div>
<!-- 2 -->
	<div>
		<div style = "width:50%; float:left;">(2)<input type="text" name="q2.20"></div>
		<div style = "width:50%; float:left;"><input name="q2.22"></div>
	</div>
	<div>
		<div style = "width:50%; float:left;">Oui, c'est Nathalie.</div>
		<div style = "width:50%; float:left;">Elle est actrice.</div>
	</div>
<!-- 3 -->
	<div>
		<div style = "width:50%; float:left;">(3)<input type="text" name="q2.30"></div>
		<div style = "width:50%; float:left;"><input name="q2.31"></div>
	</div>
	<div>
		<div style = "width:50%; float:left;">C'est Philippe.</div>
		<div style = "width:50%; float:left;">Il est à Lille.</div>
	</div>
<!-- 4 -->
	<div>
		<div style = "width:50%; float:left;">(2)<input type="text" name="q2.40"></div>
		<div style = "width:50%; float:left;"><input name="q2.41"></div>
	</div>
	<div>
		<div style = "width:50%; float:left;">C'est Fanny.</div>
		<div style = "width:50%; float:left;">Elle est à Sète.</div>
	</div>

	<p>2. translate the following sentences.</p>
	<div>
		<div style = "width:50%; float:left;">这是夏尔(Charles)吗</div>
		<div style = "width:50%; float:left;"><input type="text" name="q2.50"></div>
	</div>
	<div>
		<div style = "width:50%; float:left;">对这是夏尔(Charles)</div>
		<div style = "width:50%; float:left;"><input type="text" name="q2.60"></div>
	</div>
	<div>
		<div style = "width:50%; float:left;">他是干什么的？</div>
		<div style = "width:50%; float:left;"><input type="text" name="q2.70"></div>
	</div>
	<div>
		<div style = "width:50%; float:left;">他是邮递员。</div>
		<div style = "width:50%; float:left;"><input type="text" name="q2.80"></div>
	</div>
	<div>
		<div style = "width:50%; float:left;">丽娜（Lina）是研究员。</div>
		<div style = "width:50%; float:left;"><input type="text" name="q2.90"></div>
	</div>
	<div>
		<div style = "width:50%; float:left;">帕斯卡尔(Pascal)是服装设计师。</div>
		<div style = "width:50%; float:left;"><input type="text" name="q2.a0"></div>
	</div>

</div>

