<!doctype html>
<title>Lanearning</title>
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css')}}"> -->

<style type="text/css">
body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page			{ margin:  auto; width: auto; height: auto; border: auto solid #ccc;
                  padding: auto; background: white; }

.css3			{overflow: hidden; /*自动隐藏文字*/	text-overflow: ellipsis;/*文字隐藏后添加省略号*/
				white-space: nowrap;/*强制不换行*/width: 20em;/*不允许出现半汉字截断*/
				color:#6699ff;border:1px #ff8000 dashed;}			
</style>


<div class = page>
	<h1>Lanearning</h1>
<!-- 	<form action="{{ url_for('play')}}" method=post>
	   <d1>
	      <dt> Leason1
	      <div>Bonjour, comarade <button type="button" >Play</button> </div>
	   </d1>
	</form> -->

<!-- 	<script>
	function play()
	{
		<audio controls autoplay>
           <source src="static/Bonjour, comarade" type="audio/mp3">
                Your browser does not support this audio format.
        </audio>
	}
	</script>
	<dt> Leason1
	<div>Bonjour, comarade <button onclick="play">Play</button> </div> -->
	<script type="text/javascript">
		function ashow()
		{
			/*document.write("lol");*/
/*			var audio = document.creatElement("audio");
			audio.src="{{ url_for('static', filename = 'whereishe.mp3')}}";
			audio.play(); invaild*/
			audio = new Audio("{{ url_for('static', filename = '[a].mp3')}}");
			audio.play();
		}
		function eshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[e].mp3')}}");
			audio.play();
		}
		function εshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[ε].mp3')}}");
			audio.play();
		}
		function əshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[i].mp3')}}");
			audio.play();
		}
		function ishow()
		{
			audio = new Audio("{{ url_for('static', filename = '[o].mp3')}}");
			audio.play();
		}
		function oshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[ɔ].mp3')}}");
			audio.play();
		}
		function ɔshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[y].mp3')}}");
			audio.play();
		}
		function ushow()
		{
			audio = new Audio("{{ url_for('static', filename = '[u].mp3')}}");
			audio.play();
		}
		function øshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[ø].mp3')}}");
			audio.play();
		}
		function œshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[œ].mp3')}}");
			audio.play();
		}
		function ɑ̃show()
		{
			audio = new Audio("{{ url_for('static', filename = '[ɑ̃].mp3')}}");
			audio.play();
		}
		function ɛ̃show()
		{
			audio = new Audio("{{ url_for('static', filename = '[ɛ̃].mp3')}}");
			audio.play();
		}
		function ɔ̃show()
		{
			audio = new Audio("{{ url_for('static', filename = '[ɔ̃].mp3')}}");
			audio.play();
		}
		function jshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[j].mp3')}}");
			audio.play();
		}
		function wshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[w].mp3')}}");
			audio.play();
		}
		function ɥshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[ɥ].mp3')}}");
			audio.play();
		}
		function bshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[b].mp3')}}");
			audio.play();
		}
		function kshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[k].mp3')}}");
			audio.play();
		}
		function dshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[d].mp3')}}");
			audio.play();
		}
		function fshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[f].mp3')}}");
			audio.play();
		}
		function gshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[g].mp3')}}");
			audio.play();
		}
		function ʒshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[ʒ].mp3')}}");
			audio.play();
		}
		function lshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[l].mp3')}}");
			audio.play();
		}
		function mshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[m].mp3')}}");
			audio.play();
		}
		function nshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[n].mp3')}}");
			audio.play();
		}
		function pshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[p].mp3')}}");
			audio.play();
		}
		function rshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[r].mp3')}}");
			audio.play();
		}
		function sshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[s].mp3')}}");
			audio.play();
		}
		function zshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[z].mp3')}}");
			audio.play();
		}
		function tshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[t].mp3')}}");
			audio.play();
		}
		function vshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[v].mp3')}}");
			audio.play();
		}
		function s1show()
		{
			audio = new Audio("{{ url_for('static', filename = 's1.mp3')}}");
			audio.play();
		}
		function ɲshow()
		{
			audio = new Audio("{{ url_for('static', filename = '[ɲ].mp3')}}");
			audio.play();
		}/**/
	</script>
	<h2>Phonetics</h2> 
	<dt> 元音vowel
<!-- 	<div>
		<span class="css1">
			<input type="button" onclick = "ashow()"value="[a]"/>
			<span class="text"><font size="0.1em">发音方式：舌头平方，嘴自然张开，口型略微紧张，与汉语拼音中的a相似，但发音时舌位靠前。</span>
		</span>
	</div> -->
	<div class="css1">
		<input type="button" onclick = "ashow()"value="[a]"/> 
		发音方式：舌头平方，嘴自然张开，口型略微紧张，与汉语拼音中的a相似，但发音时舌位靠前。
	</div>
	<div class="css1">
		<input type="button" onclick = "eshow()"value="[e]"/> 
		发音方式：舌尖紧抵下齿，唇形扁平，开口度略大于[i]，嘴角略向两边拉，发音与汉语拼音中的ei相似，但开口度更小，并且口型保持不变。
	</div>
	<div class="css1">
		<input type="button" onclick = "εshow()"value="[ε]"/> 
		发音方式：[ε]与[a]音舌位相似，但[ε]音发音时舌尖要平抵下齿，舌前部略隆起，开口度略小于[a]，相当于汉语拼音ai，口型要紧些。
	</div>
	<div class="css1">
		<input type="button" onclick = "əshow()"value="[ə]"/> 
		发音方式：舌位和开口度与元音[ε]相同，肌肉比较放松，双唇突出成圆形。不要将这个圆唇音与汉语拼音中的e混淆，将嘴角肌肉往中间缩可以帮助避免这一错误。
	</div>
	<div class="css1">
		<input type="button" onclick = "ishow()"value="[i]"/> 
		发音方式：口腔开口度极小，舌尖紧抵下齿，唇形扁平，嘴角要用力向两边拉，与汉语拼音中的i相似，但口腔部位的肌肉更加紧张。
	</div>
	<div class="css1">
		<input type="button" onclick = "oshow()"value="[o]"/> 
		发音方式：舌略向后缩，双唇突出，口型很圆，开口度非常小。
	</div>
	<div class="css1">
		<input type="button" onclick = "ɔshow()"value="[ɔ]"/> 
		发音方式：舌略向后缩，双唇突出基本成圆形，开口度较大。
	</div>
	<div class="css1">
		<input type="button" onclick = "yshow()"value="[y]"/> 
		发音方式：舌位、开口度和肌肉紧张度与元音[i]相近，但双唇突出，绷紧成圆形。发音与汉语拼音中的ü相似，但唇部肌肉更加紧张。
	</div>
	<div class="css1">
		<input type="button" onclick = "ushow()"value="[u]"/> 
		发音方式：舌尽量后缩，双唇突出呈圆形，口型紧缩。与汉语拼音中的u相似，但唇部肌肉更加紧张。
	</div>
	<div class="css1">
		<input type="button" onclick = "øshow()"value="[ø]"/> 
		发音方式：舌位和开口度与元音[e]相同，双唇突出成圆形，肌肉较紧张。
	</div>
	<div class="css1">
		<input type="button" onclick = "œshow()"value="[œ]"/> 
		发音方式：舌位和开口度与元音[ε]相同，只是双唇突出成圆形，肌肉较轻松
	</div>
	<div class="css1">
		<input type="button" onclick = "ɑ̃show()"value="[ɑ̃]"/> 
		发音方式：发音部位与[a]相近，但舌略向后缩，开口度稍大，从口腔和鼻腔冲出，构成鼻音。
	</div>
	<div class="css1">
		<input type="button" onclick = "ɛ̃show()"value="[ɛ̃]"/> 
		发音方式：发音部位与[ε]相同，但气流从口腔和鼻腔冲出，构成鼻音。
	</div>
	<div class="css1">
		<input type="button" onclick = "ɔ̃show()"value="[ɔ̃]"/> 
		发音方式：舌尖离开下齿，舌略向后缩，口型与[o]相同，气流从口腔和鼻腔冲出，构成鼻音。
	</div>
	<dt> 半元音
	<div class="css1">
		<input type="button" onclick = "jshow()"value="[j]"/> 
		发音方式：发音部位和开口度与[i]基本相同，但发音短促，肌肉更紧张，气流通道狭窄，气流通过时产生摩擦。
	</div>
	<div class="css1">
		<input type="button" onclick = "wshow()"value="[w]"/> 
		发音方式：发音部位和开口度与[u]基本相同，但发音短促，肌肉更紧张，气流通道狭窄，气流通过时产生摩擦。
	</div>
	<div class="css1">
		<input type="button" onclick = "ɥshow()"value="[ɥ]"/> 
		发音方式：发音部位和开口度与[y]基本相同，但发音短促，肌肉更紧张，气流通道狭窄，气流通过时产生摩擦。
	</div>
	<dt> 辅音
	<div class="css1">
		<input type="button" onclick = "bshow()"value="[b]"/> 
		发音方式：发音方式基本同[p]，但发音时声带振动，并只有极少量的气流冲出口腔。
	</div>
	<div class="css1">
		<input type="button" onclick = "kshow()"value="[k]"/> 
		发音方式：舌面抬起抵硬腭后部形成阻塞，气流突然从口腔冲出，形成爆破音。声带不振动，类似于汉语拼音中的g。在元音前不送气，在音节末或r、l构成的辅音群时送气，此时发音同英语中的k。
	</div>
	<div class="css1">
		<input type="button" onclick = "dshow()"value="[d]"/> 
		发音方式：发音方式与[t]相同，但声带必须振动并只有极少量的气流冲出口腔。
	</div>
	<div class="css1">
		<input type="button" onclick = "fshow()"value="[f]"/> 
		发音方式：上门齿顶往下唇内侧，气流通过唇齿间的缝隙擦出，形成摩擦音。
	</div>
	<div class="css1">
		<input type="button" onclick = "gshow()"value="[g]"/> 
		发音方式：发音方式同[k]，但声带必须振动并只有极少量的气流冲出口腔。
	</div>
	<div class="css1">
		<input type="button" onclick = "ʒshow()"value="[ʒ]"/> 
		发音方式：发音方式基本同[∫]，但声带振动。
	</div>
	<div class="css1">
		<input type="button" onclick = "lshow()"value="[l]"/> 
		发音方式：舌尖抵上齿龈形成阻塞。发音时声带振动，气流从抬起的舌尖两侧出来，同时放下舌尖。
	</div>
	<div class="css1">
		<input type="button" onclick = "mshow()"value="[m]"/> 
		发音方式：双唇紧闭，软腭下降形成阻塞，气流从紧闭的双唇冲出。
	</div>
	<div class="css1">
		<input type="button" onclick = "nshow()"value="[n]"/> 
		发音方式：舌尖抵上齿龈，软腭下降形成阻塞，气流同时从鼻腔和口腔冲出，同时放下舌尖。
	</div>
	<div class="css1">
		<input type="button" onclick = "pshow()"value="[p]"/> 
		发音方式：双唇紧闭形成阻塞，气流突然从口腔冲出，形成爆破音。声带不振动，类似汉语拼音的b。在元音前不送气，在音节末或与l、r构成辅音群时送气，此时发音同英语中的p。
	</div>
	<div class="css1">
		<input type="button" onclick = "rshow()"value="[r]"/> 
		发音方式：舌尖抵下齿，舌后部略抬起，气流通过时小舌颤动，声带振动，发音时关键要放松喉部，让气流通过时产生小舌振动。
	</div>
	<div class="css1">
		<input type="button" onclick = "sshow()"value="[s]"/> 
		发音方式：舌尖抵下齿，上下齿靠近，舌面前部与上颚间形成缝隙，气流通过缝隙时发生摩擦。
	</div>
	<div class="css1">
		<input type="button" onclick = "zshow()"value="[z]"/> 
		发音方式：发音方式基本同[s]，但声带振动。
	</div>
	<div class="css1">
		<input type="button" onclick = "tshow()"value="[t]"/> 
		发音方式：舌尖抵上齿形成阻塞，气流突然从口腔冲出，形成爆破音。声带不振动，类似汉语拼音的d。在元音前不送气，在音节末或与l、r构成辅音群时送气，此时发音同英语中的t。
	</div>
	<div class="css1">
		<input type="button" onclick = "vshow()"value="[v]"/> 
		发音方式：发音方式基本与[f]，但声带振动，并且气流在唇齿之间的缝隙擦出，形成摩擦音。
	</div>
	<div class="css1">
		<input type="button" onclick = "s1show()"value="[∫]"/> 
		发音方式：舌尖抬向上齿龈稍后的部分，与上颚之间形成缝隙，双唇略向前突出成圆形，气流通过牙缝时形成摩擦。
	</div>
	<div class="css1">
		<input type="button" onclick = "ɲshow()"value="[ɲ]"/> 
		发音方式：舌尖抵上齿龈，软腭下降形成阻塞，气流同时从鼻腔和口腔冲出，同时放下舌尖。
	</div>

</div>